.modal-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.modal-content{
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: 600;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message{
  font-weight: 400;
  font-size: 1em;
}
