<div class="navbar-container animate__animated animate__fadeIn">
  <div class="logo-container">
    <img class="img-fluid" src="./../../../../assets/img/logo.png" alt="" />
    <a href="">Hermes Tamaulipeco</a>
  </div>

  <!-- <div class="navbar-options-container">
    <ul class="menu-options">
      <li class="menu-option">
        <a href="">Añadir Reportero</a>
      </li>
      <li class="menu-option">
        <a href="">Añadir Artículo</a></li>
      <li class="menu-option">
        <a href="">Añadir Categoría</a>
      </li>
    </ul>
  </div> -->
</div>
